@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Story+Script&display=swap');
@import "tailwindcss";
@plugin "daisyui";



@theme{
  --font-grif:"Griffy", system-ui;
  --font-mont:"Montserrat", sans-serif;
}
html , body, #root{
  @apply bg-black text-white min-h-screen
}

.swiper-pagination-bullet {
            background-color: rgba(255, 255, 0, 0.6) !important;
          }
          .swiper-pagination-bullet-active {
            background-color: #facc15 !important;
          }